# Supabase PostgreSQL connection
SUPABASE_DB_HOST=aws-1-eu-west-1.pooler.supabase.com
SUPABASE_DB_PORT=5432
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USERNAME=postgres.rflztcthdtorfryeuzpt
SUPABASE_DB_PASSWORD=
